@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    background-color: white;
}

.parent-container-wish{
    display: flex;
 flex-wrap: wrap;
 row-gap: 20px;
 column-gap: 20px;
 justify-content: center;
 align-items: center;
 
}

/* .card {
    background-color:  black;
} */
.image img {
    width:  300px;
    height: 250px;
}

.title h1 {
    font-size:  small;
}

.card-wish{
    background-color: rgb(205, 83, 83);
    width:  400px;
    height: 400px;
}

.card-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap : 2px;
    flex-wrap: wrap;

}

/* .no-card{
    background-color: black;

}

.header-wish {
    background-color:  black;
} */